
html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}

.app {
  font-family: 'Karla', sans-serif;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

a, a:hover, a:focus, a:active{
  text-decoration: none;
  color: #000;
}

.pointer {
  cursor: pointer;
}

.categories-menu{
  list-style: none;
  margin: 0;
  display: flex;
  flex: 0 0 100%;
  background-color:#1E90FF;
  padding: 0 10px;
}

.categories-menu a:hover:not(.selected-item){
  background-color: #4aa6ff;
}

.categories-menu a{
  flex-shrink: 0;
  flex-grow: 1;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 3px 3px 0 0;
  font-size: 1.3em;
}

.categories-menu a:hover {
  color: #666;
  transition: 0.2s ease-in color;
}

.categories-menu .selected-item{
  background-color: #fff;
  color: #000;
}

.post-item-separator{
  border-bottom: 1px solid #ccc;
}

.post-item-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.post-item{
  width: 50%;
  padding: 0 25%;
  display: flex;
}

.post-pic-holder{
  display: block;
  width: 65px;
  height: 65px;
  background-color: #1E90FF;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.post-pic-holder span{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.post-header-holder{
  margin-left: 35px;
}

.post-header-container{
  display: flex;
  margin: auto;
  position: relative;
}

.post-title{
  text-align: center;
}

.post-header-content{
  padding: 0 25px 0 0;
}

.post-header-content > span{
  font-size: 1.2em;
  color: #1E90FF;
}

.post-header-content > .content-title{
  font-weight: bolder;
  font-size: 1em;
  padding-right: 10px;
  color: #000;
}

.post-content{
  justify-content: baseline;
  text-align: justify;
  font-size: 1.1em;
  margin: 25px 0;
}

.post-bottom-holder{
  color: #d1402e;
  display: flex;
  flex-wrap: wrap;
}

.post-bottom-item{
  padding-right: 50px;
}

.post-bottom-item .item-value{
  margin-left: 10px;
}

.post-spacer{
  margin: 5px;
}

.post-create-button a{
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  color: #d1402e;
}

.post-create-button a:hover{
  color: #000;
  transition: 0.1s ease-in color;
}

.comments-container{
  width: 50%;
  padding: 15px 25%;
}

.comment-item{
  display: block;
  padding: 10px 0;
}

.comment-author{
  display: block;
  font-size: 1.2em;
  font-weight: bolder;
}

.comment-datetime{
  font-size: 0.9em;
  color: #666;
}

.comment-content{
  display: block;
}

.comment-create{

}

.comment-create-author{
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.comment-create-text{
  display: block;
  width: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100px;
  overflow-y: auto;
  resize: none;
}

.comment-create-post{
  display: block;
  width: 100%;
}

button, .button{
  background-color: #00003f;
  color: #fff;
  display: inline-block;
  padding: 6px 12px;
  margin: 10px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  box-sizing: border-box;
}

button:hover, .button:hover{
  background-color: #000073;
  transition: background-color 0.1s ease-in;
}

button:focus,.button:focus{
  outline:0;
}

input[type='text'], textarea {
  margin: 0 0 10px 0;
  max-width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  outline: 0;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  text-align: left;
  line-height: 1.21428571em;
  padding: .67857143em 1em;
  background: #fff;
  border: 1px solid rgba(34,36,38,.15);
  color: rgba(0,0,0,.87);
  border-radius: .28571429rem;
  -webkit-transition: border-color .1s ease,-webkit-box-shadow .1s ease;
  transition: border-color .1s ease,-webkit-box-shadow .1s ease;
  transition: box-shadow .1s ease,border-color .1s ease;
  transition: box-shadow .1s ease,border-color .1s ease,-webkit-box-shadow .1s ease;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type='text']:focus, textarea:focus{
  border-color: #1E90FF;
  background: #fff;
  color: rgba(0,0,0,.8);
  -webkit-box-shadow: none;
  box-shadow: none;
}